@import '../../variables.scss';

.Portfolio {
  display: grid;
  grid: 1fr / 1fr 1fr;
  height: 200vh;

  p {
    font-size: $paragraph-size;
  }

  strong {
    color: $chardonnay;
  }

  &__left-item,
  &__right-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
  }

  &__left-item {
    position: relative;

    img {
      position: absolute;
      height: 100%;
      width: 200%;
      object-fit: cover;
      z-index: -1;
    }
  }

  &__right-item {
    background: $horizon;
  }

  &__left-container,
  &__right-container {
    display: grid;
    grid: 0.75fr 1fr 2.5fr / 1fr;
    height: 100vh;
    padding: 5rem;
  }

  &__right-container {
    position: relative;

    p {
      font-size: 2.5rem;
    }

    svg {
      position: absolute;
      top: -18rem;
      right: -12rem;
      transform: scale(0.7);
      opacity: 0.03;
    }
  }

  &__button-wrapper {
    width: 40%;
    margin-top: 2rem;
  }

  &__login-credentials {
    z-index: 1;

    * {
      margin-bottom: 1rem;
    }
  }

  &__links {
    display: grid;
    grid: 1fr 1fr / repeat(auto-fill, 30rem);
    gap: 1rem;
    z-index: 1;
  }

  &__monster-doodles {
    position: relative;

    svg {
      position: absolute;
      transform: scale(0.7);
      fill: $line-color;

      &:nth-of-type(1) {
        bottom: 10rem;
      }
      &:nth-of-type(2) {
        bottom: 9rem;
        left: 51rem;
      }
      &:nth-of-type(3) {
        bottom: 25rem;
        left: 32rem;
      }
      &:nth-of-type(4) {
        bottom: 6.5rem;
        left: -10rem;
        fill: none;
      }
    }
  }
}
