@import '../../variables.scss';

.CV {
  position: relative;
  display: grid;
  grid: 1fr / 1fr 1fr;
  height: 200vh;

  h2 {
    height: 100vh;
    padding: 5rem;
  }

  &__left-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $horizon;

    svg {
      position: absolute;
      bottom: 26rem;
      opacity: 0.03;
    }
  }

  &__container {
    position: absolute;
    z-index: 2;
    width: 70%;
    min-width: 54rem;
    height: 33%;
    bottom: 33%;
    left: 15%;
    padding: 5rem 0;
    background: $container-color;
  }

  &__right-item {
    position: relative;

    img {
      position: absolute;
      height: 100%;
      width: 200%;
      right: 0;
      object-fit: cover;
      z-index: -1;
    }

    svg {
      position: absolute;
      bottom: 41rem;
      right: 20rem;
      fill: $line-color;
    }
  }

  &__entries {
    height: 100%;
    padding: 0 5rem;
    overflow: auto;
  }

  &__entry {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    gap: 2rem;
    padding: 4rem 0 2rem 0;
    border-bottom: 0.2rem solid $line-color;

    div:nth-of-type(4),
    div:nth-of-type(5) {
      grid-column-start: span 3;
    }
  }
}
