@import '../../variables.scss';

.Home {
  height: 100%;
  display: grid;
  grid: 1fr 2fr / 1fr 1fr;

  &__heading {
    font-size: 8.5rem;
    // font-weight: 400;

    &:first-of-type {
      grid-column-start: span 2;
      align-self: end;
    }
  }

  &__introduction {
    display: grid;
    grid: 1fr 1fr / 1fr;
    align-items: start;
    gap: 6rem;

    p {
      padding-top: 1rem;
      text-align: end;
      font-size: 3.8rem;
    }
  }

  &__contact {
    text-decoration: none;
    font-weight: 400;
    color: $chardonnay;
    cursor: pointer;
  }

  &__buttons {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 4rem;
    justify-items: space-around;
    width: 100%;
  }
}
