@import '../../variables.scss';

.Contact {
  position: relative;
  height: 150vh;

  h2 {
    margin-top: 48rem;
    padding: 5rem;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__monster {
    position: absolute;
    right: 18rem;
    top: 57rem;
    fill: $whisper;
    opacity: 0.7;
    transform: scale(1.2);
  }

  &__form {
    position: absolute;
    z-index: 1;
    display: grid;
    grid: 1fr / 1fr 1fr;
    width: 70%;
    min-width: 89rem;
    left: 15%;
    bottom: 12%;
    padding: 7rem 5rem;
    background: $container-color;

    p {
      font-size: $paragraph-size;
    }

    form {
      display: grid;
      grid: 1fr 1fr 1fr 3fr / 1fr;
      gap: 2rem;

      textarea {
        resize: none;
        outline: none;
        border: 0.2rem solid $line-color;
        border-radius: 1rem;
        font-size: 2rem;
        background: transparent;
        padding: 1rem;

        &::placeholder {
          color: $line-color;
        }
      }
    }
  }

  &__right-item {
    display: grid;
    grid: 2fr 1fr / 1fr;
    gap: 2rem;

    p {
      text-align: right;
    }
  }

  &__links {
    display: grid;
    grid: 1fr 1fr / 1.4fr 1fr;
    gap: 2rem;
    align-items: center;

    a {
      justify-self: end;
    }

    svg {
      width: 5.3rem;
      height: 5.3rem;
      fill: $whisper;
      transition: ease-in-out 100ms;
    }

    span {
      font-size: 2rem;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 25vh;
    width: 100%;
    padding: 5rem;
    background: $horizon;

    p {
      font-size: 2.2rem;
    }

    a {
      text-decoration: none;
      color: $chardonnay;
      font-weight: 400;
    }
  }
}

@media only screen and (min-width: 50rem) {
  .Contact {
    svg:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}
