@import '../variables.scss';

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.6rem 0;
  // background: $horizon;
  text-decoration: none;
  color: $whisper;
  font-size: 2.3rem;
  font-weight: 600;
  border-radius: 3.5rem;
  cursor: pointer;
  transition: ease-in-out 170ms;
}

@media only screen and (min-width: 50rem) {
  .Button:hover {
    opacity: 0.8;
  }
}
