@import '../variables.scss';

.Home {
  display: grid;
  grid: 1fr / 1fr;
  gap: 1.8rem;
  margin-top: 3rem;

  &__heading {
    text-align: center;
    font-size: 3rem;
  }

  strong {
    color: $chardonnay;
    cursor: pointer;
  }

  &__buttons {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2rem;
    justify-items: space-around;
    width: 100%;
  }
}
