@import '../variables.scss';

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0.9rem 0;
  }

  &__heading {
    font-size: 3.2rem;
    font-weight: 400;
  }

  strong {
    font-weight: 400;
    color: $chardonnay;
    cursor: pointer;
  }

  &__buttons {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 2.5rem;
    justify-items: space-around;
    width: 100%;
  }
}
