@import '../../variables.scss';

.TextInput {
  position: relative;

  input,
  span {
    font-size: 2rem;
    color: $line-color;
  }

  span {
    display: block;
    position: absolute;
    transition: ease-in-out 100ms;

    input:focus ~ & {
      opacity: 0;
    }
  }

  input {
    width: 100%;
    padding: 0.5rem 0;
    border: 0;
    border-bottom: 0.2rem solid $line-color;
    background: transparent;
    outline: none;
  }
}
