@import '../../variables.scss';

.TextInput {
  position: relative;
}

input,
label {
  font-size: 2rem;
  color: $line-color;
}

input {
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  border-bottom: 0.2rem solid $line-color;
  background: transparent;
  outline: none;
}

label {
  position: absolute;
  left: 0;
  transition: ease-in-out 100ms;

  input:focus ~ &,
  input:valid ~ & {
    transform: translateY(-2rem);
    font-size: 1.5rem;
  }
}
