@import './variables.scss';

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: $whisper;
  background: $background-color;

  h2 {
    font-size: $h2-size;
    color: $chardonnay;
    font-weight: 400;
  }

  h3 {
    font-size: $h3-size;
    font-weight: 400;
  }

  h4 {
    font-size: $h4-size;
    font-weight: 300;
  }
}
