@import './variables.scss';

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $whisper;
  background: $background-color;

  &__bg-photo {
    position: fixed;
    z-index: -1;
    object-fit: cover;
  }

  &__container {
    z-index: 1;
    height: 100vh;
    padding: 12rem;
  }
}

p {
  font-size: $font-size-paragraph;
}

@media only screen and (max-width: 50rem) {
  .App {
    &__container {
      width: 100%;
      padding: 0 1.5rem;
    }
  }
}
