@import './variables.scss';

.Header {
  position: relative;
  display: grid;
  grid: 1fr / 2fr 4fr;
  height: 25%;
  padding-bottom: 2rem;
  font-size: 2rem;

  &__text {
    display: grid;
    grid: 1fr / 1fr;
    align-items: end;

    h3 {
      font-size: 4rem;
      font-weight: 300;
      color: $chardonnay;
    }

    span {
      opacity: 0.7;
    }
  }

  &__links {
    display: grid;
    grid: 1fr / repeat(6, 1fr);
    justify-items: center;
    align-items: end;

    a {
      color: $whisper;
      font-weight: 400;
      text-decoration: none;
      cursor: pointer;
    }
  }

  svg {
    position: absolute;
    right: 8.5rem;
    top: 6rem;
  }

  &__warning {
    position: absolute;
    top: 4rem;
    right: 18.5rem;
    color: $chardonnay;
    font-style: italic;
    pointer-events: none;
  }

  &__switch {
    position: relative;
    width: 4rem;
    height: 2.3rem;
    -webkit-tap-highlight-color: transparent;
  }
  &__switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #858585;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 2rem;
      width: 2rem;
      left: 0.2rem;
      bottom: 0.16rem;
      background: $whisper;
      transition: 0.4s;
    }

    &-round {
      border-radius: 2.4rem;

      &:before {
        border-radius: 60%;
      }
    }
  }

  input:checked + &__slider {
    background: $chardonnay;
  }
  input:focus + &__slider {
    box-shadow: 0 0 1px $chardonnay;
  }

  input:checked + &__slider:before {
    transform: translateX(1.5rem);
  }
}

@media only screen and (max-width: 50rem) {
  .Header {
    &__links {
      grid: 1fr / repeat(3, 1fr);
      gap: 1rem;
    }

    &__warning,
    svg {
      display: none;
    }
  }
}
