$background-color: rgba(73, 69, 69, 0.96);
$container-color: #676161;
$line-color: rgba(239, 236, 236, 0.7);
$whisper: #efecec;
$chardonnay: #f5c67e;
$horizon: #62929a;

$h2-size: 5rem;
$h3-size: 4rem;
$h4-size: 3rem;
$paragraph-size: 2.7rem;
