@import '../../variables.scss';

.Card {
  position: relative;
  display: grid;
  gap: 1rem;
  align-items: center;
  padding: 3rem;
  border-radius: 1.5rem;
  text-decoration: none;

  div {
    transition: ease-in-out 100ms;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    z-index: -2;
  }

  &__overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (min-width: 50rem) {
  .Card:hover {
    div {
      opacity: 0;
    }
  }
}
