@import '../../variables.scss';

.Card {
  height: 25rem;
  width: 40rem;

  img {
    position: absolute;
    height: 25rem;
    width: 40rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }

  &__link {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    border-radius: 1.5rem;
    padding: 4rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    transition: ease-in-out 250ms;
  }
}

@media only screen and (min-width: 50rem) {
  .Card {
    &__link:hover {
      opacity: 0;
    }
  }
}
